body {
  letter-spacing: 2px;
  margin: auto;
  font-size: 16px;
  font-family: "Flavors", cursive;
  font-family: "Inclusive Sans", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
}

footer {
  text-align: center;
  font-size: 12px;
}

footer a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 3px;
}

#submit-button,
#location-button,
#search-city-input {
  background: #fff;
  border: solid 1px #fff;
  border-radius: 30px;
  font-size: 14px;
  margin: 12px auto;
  padding: 5px 15px;
  color: black;
  cursor: pointer;
}

#farenheit-link,
#celsius-link {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#city {
  font-size: 26px;
}

#current-date-data {
  font-size: 12px;
}

.weather-report {
  display: block;
  max-width: 500px;
  margin: 15px auto;
  padding: 15px 28px;
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 8px;
}

#weather-description::first-letter {
  text-transform: capitalize;
}

.weather-container.text-center {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: 12px;
  padding: 5px;
  justify-content: space-evenly;
}

.weather-container.text-center img {
  width: 32px;
  max-width: 100%;
}

.weather-temperature {
  display: flex;
  align-items: center;
}

.weather-temperature strong {
  font-weight: 600;
  font-size: 36px;
  margin-right: 2px;
  line-height: 1;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}
