body {
  letter-spacing: 2px;
  margin: auto;
  font-size: 14px;
  font-family: "Flavors", cursive;
  font-family: "Inclusive Sans", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
}

footer {
  text-align: center;
  font-size: 12px;
}

li {
  list-style: none;
}

span img {
  width: 80px;
  margin-right: 100px;
}

ul {
  padding: 3px;
}

#submit-button,
#location-button,
#search-city-input {
  background: #fff;
  border: solid 1px #fff;
  border-radius: 30px;
  font-size: 14px;
  margin: 12px auto;
  padding: 5px 15px;
  color: black;
  cursor: pointer;
}

#temperature {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

#city {
  font-size: 26px;
}

#current-date-data {
  font-size: 16px;
}

.location-input {
  text-align: right;
  position: static;
  top: 50px;
}

.col:hover {
  cursor: pointer;
  background: rgba(100, 163, 110, 0.055);
  transition: all 200ms ease-in-out;
  border-radius: 15px;
}

.weather-report {
  display: block;
  max-width: 700px;
  margin: 15px auto;
  padding: 10px 15px;
  background: linear-gradient(
    109.6deg,
    rgb(251, 250, 225) 11.2%,
    rgb(206, 240, 185) 47.5%,
    rgb(100, 163, 111) 100.2%
  );
  border-radius: 15px;
}

.weather-container.text-center {
  background: rgba(255, 255, 255, 0.5);
  margin: 10px 15px;
  padding: 10px;
  border-radius: 15px;
}

.weather-container.text-center img {
  width: 48px;
  max-width: 100%;
}
